
.card {
  width: 300px;
  height: 400px;
  margin: 25px auto;
  border-radius: 5px;
  /* padding: 20px; */
  text-align: center;
  color:gray;
}

.list-group {
  margin: 20px 0px;
  height: "200px";
}


.list-group-item > p::first-letter{
  text-transform: uppercase;
}

li.list-group-item {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.list-group-item > p{
  cursor: pointer;
  margin: 0;
  padding-top: 2px;
}

.add-list {
  width: 40px;
  height: 40px;
  background-color: chartreuse;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: white;
}

input.form-control {
  position: relative;
  height:40px;
  margin:5px 0px;
  border-radius: 5px;
  /* border-right: none; */
}

input.form-control:focus{
  box-shadow: none;
  z-index: 0 !important;
  border-color: gray;
  border-right: none;
  margin-right: 12px;
}

.icon-add-list {
  position: absolute;
  right:-8px;
  top:-8px;
  z-index: 1;
	opacity: 0;
}

input.form-control:focus + .icon-add-list {
	opacity: 1;
}

.listButton {
  display: flex;
  justify-content: space-around;
}